@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --font-rounded:
    "SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo, "MS PGothic",
    sans-serif;
  --font-serif: Georgia, "Times New Roman", serif;
}

/* @theme {
  --color-maroon: #701a40;
  --color-maroon-dark: #2d0a1a;
  --color-gold: #f5b041;
  --color-gold-dark: #ffab25;
} */
